$tf
bin
obj
*.suo
.tfignore
*.user
*.cache
*.dbmdl
*.orig
debug
release
.svn
.merge_file*
BuildResults.xml
*.results.xml
test-results.html
*.log
*.wrn
*.cch
*_nocheckin
*.vspscc
*.err
*.sublime-workspace
ModuleToolsets.targets
ModuleToolsets.props
ModuleBindings.props
intermediate
Bin
binaries/
StyleCop.Cache
TestHarness.html
telog.txt
ipch/
*.sdf
*.opensdf